.nav ul {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    border-style: solid;
  }
  
  .nav li:first-child {
    padding-left: 0;
  }

  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
  }

  .nav-pic{
      height: 40px;
      width: 40px;
      overflow: hidden;
      border-radius:50%;
      position: absolute;  
  }